# Fusionne les identités Git multiples d'un même contributeur.
Jérôme Barthélemy <jerbarth@gmail.com> <67745470+JeromeBarthelemy@users.noreply.github.com>
Jérôme Barthélemy <jerbarth@gmail.com> Jerome Barthelemy <jerbarth@gmail.com>
